<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Some website</title>
  </head>
  <body>
    <h1>A problem has occurred</h1>
    <p>
      Please retry later
    </p>
  </body>
</html>
